.activities {
  h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .activitySlideShow-wrapper {
    width: min(100%, 768px);
    position: relative;
    margin: 0 auto;

    .activity-scroll-btn {
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      &.scrollRight {
        right: 10px;
      }

      &.scrollLeft {
        left: 10px;
      }

      width: 26px;
      height: 30px;
      border-radius: 8px;
      // padding: 10px;
      box-sizing: border-box;
      // gap: 10px;
      background-color: var(--bg-surface);
      border: 1px solid var(--border);
      box-shadow: var(--shadow-sm);

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .scrollSvg {
        // background: #5B729E;
        width: 12px;
        height: 20px;
      }
    }

    .allActivityCards {
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;

      // max-height: 440px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      // justify-content: space-evenly;
      align-items: center;

      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      /* Snaps to each image */
      white-space: nowrap;
      /* Prevents line breaks */
      scrollbar-width: none;
      /* Hides scrollbar in Firefox */
      -ms-overflow-style: none;
      /* Hides scrollbar in IE/Edge */

      &::-webkit-scrollbar {
        display: none;
        /* Hides scrollbar in Chrome/Safari */
      }

      .ActivityCard {
        flex-shrink: 0;
        scale: 0.82;
        border-radius: 16px;
        margin: -80px;
        box-sizing: border-box;
        scroll-snap-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .activities {
    .activitySlideShow-wrapper {
      width: 100%;
      .ActivityCard {
        margin: -60px;
        scale: 0.9;
      }
    }
  }
}
