.eventsPage {
  margin: 0 auto;
  max-width: 1200px;
  padding: 8px 12px 24px;

  .events-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  @media (min-width: 900px) {
    .events-section {
      grid-template-columns: 1fr;
    }
  }
}
