.body {
    width: 400px;
    // overflow: scroll;
    box-sizing: border-box;
    height: 100%;
    padding-left: 10px;

    .top-block {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        // width: 470px;
        width: 370px;
        height: 61px;
        top: 41px;
        left: 863px;
        gap: 10px;
        border-radius: 12px;
        border-width: 0.6px;
        padding-top: 16px;
        padding-right: 10px;
        padding-bottom: 16px;
        padding-left: 10px;
        border: 0.6px solid #CBCCD8;
        box-sizing: border-box;



        .photo {
            width: 28px;
            height: 28px;
            border-radius: 499.5px;
            overflow: hidden;
            box-sizing: border-box;

        }

        .comment-box {
            display: flex;
            justify-content: flex-start;
            // width: 369px;
            width: 319px;
            height: 33px;
            border-radius: 16px;
            border-width: 0.5px;
            border: 0.5px solid #7A7983;
            box-sizing: border-box;

            .text {
                width: 100%;
                height: 100%;
                // width: 95px;
                // height: 14px;
                top: 10px;
                left: 14px;
                // margin-top: 10px;
                // margin-left: 14px;
                padding: 0 14px;
                font-family: Roboto;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #8D91B0;
                border: none;
                box-sizing: border-box;

                border-radius: 16px;
            }
        }

        .send {
            display: flex;
            justify-content: center;
            margin-right: 13px;
            width: 32px;
            height: 32px;
            box-sizing: border-box;

            .send-icon {
                display: flex;
                margin-left: 5.33px;
                margin-top: 7.56px;
                width: 15.11111068725586px;
                height: 16.88888931274414px;
                top: 7.56px;
                left: 5.33px;
                color: #8D91B0;
                box-sizing: border-box;

            }
        }

    }

    .commentsWrapper {
        background-color: #fff;
        border-radius: 12px;
        padding: 5px 0px;

        max-height: 550px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .reply {
        margin-left: 59px;
        // height: 500px;
    }



}