

    .reply-box {
        display: flex;
        flex-direction: column;
        // width: 404px;
        width: 305px;
        // height: 112.125px;
        height: fit-content;
        top: 124px;
        left: 873px;
        gap: 7px;

        .profile {
            display: flex;
            // width: 343px;
            width: 243px;
            height: 30px;
            box-sizing: border-box;

            .photo {
                width: 28px;
                height: 28px;
                border-radius: 499.5px;
                overflow: hidden;
                box-sizing: border-box;
            }

            .profile-desc {
                // width: 304.48211669921875px;
                width: 205px;
                height: 38.125px;
                left: 37.93px;
                gap: 6px;
                margin-left: 9.93px;
                

                .name {
                    // width: 304.48211669921875px;
                    width: 205px;
                    // height: 11.0625px;
                    font-family: Inter;
                    font-weight: 600px;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #000000;


                }

                .description {
                    // width: 304.48211669921875px;
                    width: 205px;
                    // height: 11.0625px;
                    font-family: Inter;
                    font-weight: 300px;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #5C5757;
                    margin-top: 6px;
                }
            }
        }

        .reply {
            display: flex;
            // width: calc(404px - 62px);   //-100px styling
            max-width: 260px;
            // height: 45px;
            gap: 10px;
            padding-top: 10px;
            padding-right: 10px;
            // padding-bottom: 10px;
            /*padding-left: 71px;*/
            box-sizing: border-box;

            .reply-text {
                position: relative;
                // width: 330px;
                width: 230px;
                // height: 32px;
                /*margin-left: 41.5px;*/
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #6C6B72;


            }
        }

        .like-reply {
            display: flex;
            width: 224px;
            // height: 18px;
            gap: 8px;
            padding-left: 60px;

            .like {
                width: 82px;
                // height: 18px;
                gap: 10px;
                padding: 2px;

                .like-text {
                    display: flex;

                    .likes {
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: #5C5757;
                    }

                    .like-number {

                        font-family: Roboto;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: #5C5757;
                    }

                }

            }

            .reply-no {
                display: flex;
                width: 97px;
                height: 18px;
                gap: 10px;
                padding: 2px;

                .reply-no-text {
                    display: flex;

                    width: 93px;
                    height: 14px;

                    .replies {
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: #5C5757;


                    }

                    .reply-number {
                        font-family: Roboto;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: #5C5757;

                    }

                }

            }

        }

        .reply {
            display: flex;
            // width: 404px;
            width: 305px;
            // height: 96.125px;
            top: 248px;
            left: 909px;
            gap: 7px;


        }

    }
